CounterStrikeSharp-1.0.362/*
!CounterStrikeSharp-1.0.362/examples/
CounterStrikeSharp-1.0.362/examples/*
!CounterStrikeSharp-1.0.362/examples/CtGateRecruitment/
!CounterStrikeSharp-1.0.362/examples/CtGateRecruitment/**
